body {
    margin: 0;
    padding: 0; 
}
.sketch-style {
    margin: 0;
    padding: 0;
}
.pairBtn {
    border: none;
    border-radius: 10px;
    background: cornsilk;
    font-size: 25px;
    padding: 20px;
}

.pairBtn:hover {
    background: bisque;
    color: dimgray;
}

.infoText {
    font-size: 40px;
    font-weight: 10;
    color: white;
    text-align: center;
}